.page__container {
    position: relative;
    max-width: 882px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    min-height: 100vh;
}

@media screen and (max-width:900px) {
    .page__container {
        padding: 0 5px;
    }
}

@media screen and (max-width:500px) {
    .page__container {
        padding: 0 19px;
    }
}