.popup__error {
    visibility: hidden;
    opacity: 0;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 0 0 5px;
    padding: 0;
    align-self: flex-start;
    min-height: 30px;
}