.authorize__submit {
    background-color: #ffffff;
    border: none;
    padding: 14px 0;
    text-align: center;
    cursor: pointer;
    font-family: Inter;
    font-size: 18px;
    line-height: 1.22;
    border-radius: 2px;
    transition: opacity .2s ease-in;
}

.authorize__submit:hover {
    opacity: .85;
}