.header__burger {
    opacity: 0;
    visibility: hidden;
    width: 24px;
    height: 24px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0;
}

@media screen and (max-width:500px) {
    .header__burger {
        opacity: 1;
        visibility: visible;
    }
}