.popup__inner {
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media screen and (max-width:500px) {
    .popup__inner {
        padding: 0px 18px;
        max-width: 260px;
    }
}