.header__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: all .2s ease-in;
}

@media screen and (max-width:500px) {
    .header__profile {
        flex-direction: column;
        padding: 40px 0;
        border-bottom: solid 1px rgba(84, 84, 84, .7);
        width: 100%;
    }
}