.authorize__input {
    width: 100%;
    margin: 0 0 30px;
    outline-style: none;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    background-color: inherit;
    color: #ffffff;
    padding: 13px 0;
}